.header {
    background-color: $dark-blue;
    margin-bottom: 30px;

    @include media(768px){
        margin-bottom: 40px;
    }
    @include media(1000px){
        margin-bottom: 80px;
    }
    @include media(1024px){
        margin-bottom: 100px;
    }

    &__sitelog{
        @include font(18px, 22px, $white-color, 'montserrat', 700);
        padding: 24px 0;
        display: block;
        margin-right: auto;

        @include media(768px){
            @include font(24px, 29px, $white-color, 'montserrat', 700);
        }
    }
}

.header-container {
    display: flex;
    align-items: center;
}

