.sitenav{
    display: none;
    &__list{
        display: flex;
        align-items: center;
        gap: 25px;
    }
    &__link{
        @include font(16px, 22px, $white-color);
    }

    &__burger{
        @include media(1000px){
            display: none;
        }
    }

    @include media(1000px){
        display: block;
        margin-right: 55px;
    }

    
}

.call{
    display: none;
    &__number{
        @include font(18px, 25px, $white-color, 700);
    }
    &__text{
        @include font(13px, 18px, $white-color);
        text-align: end;
        text-decoration: underline;
    }
    
    @include media(480px){
        display: flex;
        flex-direction: column;
        margin-right: 40px;
    }
    @include media(1000px){
        margin-right: 0;
    }
   
}